*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.olean
*.org#
*.out
*.toc
*.bbl
/.vscode
/build/
/Licencia
/lake-packages/*
/libro/_minted-Calculemus2/
/src/Miscelaneas/Zipperer.lean
/src/zzz.lean
/textos/descripcion.txt
/textos/enlaces.md
/textos/plantilla.md
/textos/soluciones*
/libro/auto/
/.lake/
/lakefile.lean.bak
