*.aux
*.bib
*.blg
*.log
*.olean
*.tex
*.toc
/*.bbl
/.vscode
/Calculemus.html
/Calculemus.org
/Descripcion.*
/Licencia
/Makefile
/README.html
/_minted-Calculemus/
/_target
/auto/
/coq/
/estilo.css
/leanpkg.path
/src/Miscelaneas/Zipperer.lean
/src/zzz.lean
/textos/plantilla.md
/textos/soluciones*
/thy/utf8/
/twitter/
*.idx
*.ilg
*.ind
*.org#
/Pendientes.org
/textos/enlaces.md
/cod/
/textos/descripcion.txt
/build
/lake-packages/*
/Calculemus2.out
/_minted-Calculemus2/
*.bbl
*.out
libro/_minted_Calculemus2/
